/* Copyright 2023 @paritytech/polkadot-dashboard-ui authors & contributors
SPDX-License-Identifier: Apache-2.0 */

main {
  background: var(--background-primary);
}

.body {
  min-height: 100vh;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  > h3 {
    font-weight: bolder;
    padding-top: 1rem;
  }
}

.row {
  display: flex;
  margin-bottom: 1.25rem;
}

.rowDivider {
  border-bottom: 1px solid var(--border-primary-color);
  padding: 0 0 2rem 0;
}

/* code revealer */
.title h4 {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 1px solid var(--border-primary-color);
  cursor: pointer;
  margin: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.title-show h4 {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.content {
  padding: 0.5rem;
  border-top: 0;
}

.content-hide {
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: height ease 0.9s, opacity ease 2s;
  width: 100%;
  height: 100%;
  border: 0.1rem solid var(--border-primary-color);
}

.content-show {
  opacity: 1;
  transition: height ease 0.9s, opacity ease 2s;
  width: 100%;
  height: 100%;
  border: 0.1rem solid var(--border-primary-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-bottom: 1.5rem;
}

.sidenav {
  height: 100%;
  width: 10rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: var(--background-primary);
  border-right: 1px solid var(--border-secondary-color);

  > h5 > p {
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
  }

  > h5 > button {
    padding-left: 2rem;
    text-decoration: none;
    display: block;
  }
}
