/* Copyright 2023 @paritytech/polkadot-dashboard-ui authors & contributors
SPDX-License-Identifier: Apache-2.0 */
@use "../styles/variables" as v;

main {
  background: var(--background-default);
}

.body {
  min-height: 100vh;
  padding: 1rem 1.5rem 0;
  width: 100%;
  max-width: 900px;
  margin: 0 0 0 15rem;

  /* We need the body not to over come sidebar */
  @media (min-width: (v.$page-width-medium-threshold + 26px)) {
    margin: 0 auto;
  }
}

.row {
  display: flex;
  margin-bottom: 1.25rem;
}

.rowDivider {
  border-bottom: 1px solid var(--border-primary-color);
  padding: 0 0 2rem 0;
}

/* code revealer */
.title h4 {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 1px solid var(--border-primary-color);
  cursor: pointer;
  margin: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.title-show h4 {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.content {
  padding: 0.5rem;
  border-top: 0;
}

.content-hide {
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: height ease 0.9s, opacity ease 2s;
  width: 100%;
  height: 100%;
  border: 0.1rem solid var(--border-primary-color);
}

.content-show {
  opacity: 1;
  transition: height ease 0.9s, opacity ease 2s;
  width: 100%;
  height: 100%;
  border: 0.1rem solid var(--border-primary-color);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-bottom: 1.5rem;
}

.nav {
  border-right: 1px solid var(--border-primary-color);
  background-color: var(--background-primary);
  width: 10rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  padding-left: 1.5rem;


  section {
    font-size: 1.05rem;
    margin: 1.25rem 0;

    h5 {
      font-size: inherit;
      font-weight: bold;
      text-decoration: none;
      display: block;
      margin: 0.75rem 0;
    }

    > button {
      font-size: inherit;
      text-decoration: none;
      display: block;
      line-height: 2.25rem;

      &.selected {
        color: var(--network-color-primary);
      }
    }
  }
}
