/* Copyright 2023 @paritytech/polkadot-dashboard-ui authors & contributors
SPDX-License-Identifier: Apache-2.0 */

/* Inject styles from core-ui */
@use "../packages/core-ui/styles/variables" as v;
@import "../packages/core-ui/styles/index";

:root {
  --sandbox-active-color: rgb(211 48 121);
}

main {
  background: var(--background-default);
}

.body {
  min-height: 100vh;
  padding: 1rem 1.5rem 0;
  width: 100%;
  max-width: 900px;
  margin: 0 0 0 15rem;

  /* We need the body not to over come sidebar */
  @media (min-width: (v.$page-width-medium-threshold + 26px)) {
    margin: 0 auto;
  }
}

.row {
  display: flex;
  margin-bottom: 1.25rem;
}

.code {
  overflow: hidden;
  height: auto;
  border: 1px solid var(--border-primary-color);
  border-radius: 0.75rem;
  transition: border-color 0.5s ease-out;
  padding: 0 0.75rem;
  margin-top: 0.5rem;

  > .hide {
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
  }

  > .show {
    max-height: 500px;
    transition: max-height 0.35s ease-in;
  }
}

.nav {
  border-right: 1px solid var(--border-primary-color);
  background-color: var(--background-primary);
  width: 10rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  padding-left: 1.5rem;

  section {
    font-size: 1.05rem;
    margin: 1.25rem 0;

    h5 {
      font-size: inherit;
      font-weight: bold;
      text-decoration: none;
      display: block;
      margin: 0.75rem 0;
    }

    > button {
      font-size: inherit;
      text-decoration: none;
      display: block;
      line-height: 2.25rem;

      &.selected {
        color: var(--sandbox-active-color);
      }
    }
  }
}
