/* Copyright 2023 @paritytech/polkadot-dashboard-ui authors & contributors
SPDX-License-Identifier: Apache-2.0 */

main {
  background: var(--background-primary);
}

.body {
  min-height: 100vh;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-bottom: 1.25rem;
  padding-bottom: 1.5rem;
}

.sidenav {
  height: 100%;
  width: 10rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: var(--background-primary);
  border-right: 1px solid var(--border-secondary-color);

  > h5 > p {
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
  }

  > h5 > button {
    padding-left: 2rem;
    text-decoration: none;
    display: block;
  }
}
