/* Copyright 2023 @paritytech/polkadot-dashboard-ui authors & contributors
SPDX-License-Identifier: Apache-2.0 */

// button layout styles
@mixin btn-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  &.grow {
    flex: 1 1 0%;
  }
}

// button btn-spacing styles
@mixin btn-spacing {
  &.m-left {
    margin-left: var(--button-spacing-small);
  }

  &.m-right {
    margin-right: var(--button-spacing-large);
  }

  &.m-x {
    margin: 0 var(--button-spacing-large);
  }
}

// button icon styles
@mixin btn-icons {
  > .icon-left {
    margin-left: var(--button-spacing-small);
    margin-right: var(--button-spacing-large);
  }

  > .icon-right {
    margin-left: var(--button-spacing-large);
    margin-right: var(--button-spacing-small);
  }
}

@mixin btn-small {
  padding: var(--button-padding-small);
  font-size: var(--button-font-size-small);
}

@mixin btn-large {
  padding: var(--button-padding-large);
  font-size: var(--button-font-size-large);
}

@mixin btn-submit {
  padding: var(--button-padding-large);
  font-size: var(--button-font-size-small);
}

@mixin btn-disabled {
  transition: opacity var(--transition-duration),
    color var(--transition-duration);

  &:disabled {
    opacity: var(--opacity-disabled);
    cursor: default;
  }
}

// buttons/ButtonPrimary
.btn-primary {
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  background: var(--network-color-primary);
  border: 1px solid var(--network-color-primary);
  border-radius: var(--button-border-radius-large);
  color: white;

  &.secondary-color {
    background: var(--network-color-secondary);
    border: 1px solid var(--network-color-secondary);
  }

  &.sm {
    @include btn-small;
  }

  &.lg {
    @include btn-large;
  }
}

// buttons/ButtonSecondary
.btn-secondary {
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  background: var(--button-secondary-background);
  border: 1px solid var(--button-secondary-background);
  border-radius: var(--button-border-radius-large);
  color: var(--text-color-primary);

  &.sm {
    @include btn-small;

    border-radius: var(--button-border-radius-large);
  }

  &.lg {
    @include btn-large;
  }

  &:hover {
    background: var(--button-hover-background);

    &:disabled {
      background: var(--button-secondary-background);
    }
  }
}

// buttons/ButtonMono
.btn-mono {
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  background: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
  border-radius: var(--button-border-radius-large);
  color: var(--text-color-invert);

  &.secondary-color {
    border-color: var(--text-color-secondary);
    background: var(--text-color-secondary);
  }

  &.sm {
    @include btn-small;
  }

  &.lg {
    @include btn-large;
  }
}

// buttons/ButtonMonoRounded
.btn-mono-invert {
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  border: 1px solid var(--text-color-primary);
  border-radius: var(--button-border-radius-large);
  color: var(--text-color-primary);

  &.secondary-color {
    border-color: var(--text-color-secondary);
    background: var(--text-color-secondary);
  }

  &.sm {
    @include btn-small;
  }

  &.lg {
    @include btn-large;
  }
}

// buttons/ButtonText
.btn-text {
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  color: var(--text-color-primary);
  border-radius: var(--button-border-radius-large);
  font-size: var(--button-font-size-small);
  padding: 0.45rem;

  &.secondary-color {
    border-color: var(--text-color-secondary);
  }
}

// buttons/ButtonPrimaryInvert
.btn-primary-invert {
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  border: 1px solid var(--network-color-stroke);
  border-radius: var(--button-border-radius-large);
  color: var(--network-color-stroke);

  &.sm {
    @include btn-small;
  }

  &.lg {
    @include btn-large;
  }
}

// buttons/ButtonSubmit
.btn-submit {
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-submit;
  @include btn-disabled;

  border: 1px solid var(--network-color-primary);
  border-radius: var(--button-border-radius-small);
  background: var(--network-color-primary);
  color: white;

  &.secondary-color {
    border-color: var(--network-color-secondary);
    background: var(--network-color-secondary);
  }
}

// buttons/ButtonSubmitInvert
.btn-submit-invert {
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-submit;
  @include btn-disabled;

  border: 1px solid var(--network-color-stroke);
  border-radius: var(--button-border-radius-small);
  color: var(--network-color-stroke);
}

// buttons/ButtonHelp
.btn-help {
  @include btn-layout;
  @include btn-spacing;
  @include btn-disabled;

  background: var(--button-tertiary-background);
  color: var(--text-color-secondary);
  fill: var(--text-color-secondary);
  border-radius: 50%;
  padding: 0;
  width: 1.3rem;
  height: 1.3rem;

  &.background-secondary {
    background: var(--button-primary-background);
  }

  &:hover {
    fill: var(--network-color-primary);
  }
}
