/* Copyright 2023 @paritytech/polkadot-dashboard-ui authors & contributors
SPDX-License-Identifier: Apache-2.0 */

// button layout styles
@mixin btn-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  &.grow {
    flex: 1 1 0%;
  }
}

// button btn-common styles
@mixin btn-common {
  &.m-left {
    margin-left: 0.625rem;
  }

  &.m-right {
    margin-right: 0.625rem;
  }

  &.m-x {
    margin: 0 0.625rem;
  }
}

// button icon styles
@mixin btn-icons {
  > .icon-left {
    margin-left: 0.125rem;
    margin-right: 0.625rem;
  }

  > .icon-right {
    margin-left: 0.625rem;
    margin-right: 0.125rem;
  }
}

@mixin btn-small-button {
  padding: 0.34rem 0.92rem;
  font-size: 1rem;
}

@mixin btn-large-button {
  padding: 0.45rem 0.95rem;
  font-size: 1.15rem;
}

@mixin btn-padding-submit {
  padding: 0.45rem 0.8rem;
}

@mixin btn-disabled {
  transition: opacity 0.15s, color 0.15s;

  &:disabled {
    opacity: var(--opacity-disabled);
    cursor: default;
  }
}

// help icon button
.btn-help {
  @include btn-layout;
  @include btn-common;
  @include btn-disabled;

  background: var(--button-tertiary-background);
  color: var(--text-color-secondary);
  fill: var(--text-color-secondary);
  border-radius: 50%;
  padding: 0;
  width: 1.3rem;
  height: 1.3rem;

  &.background-secondary {
    background: var(--button-primary-background);
  }

  &:hover {
    fill: var(--network-color-primary);
  }
}

// buttons/ButtonPrimary
.btn-primary {
  @include btn-layout;
  @include btn-common;
  @include btn-icons;
  @include btn-disabled;

  background: var(--network-color-primary);
  border: 1px solid var(--network-color-primary);
  color: white;
  border-radius: 1.5rem;

  &.secondary-color {
    background: var(--network-color-secondary);
    border: 1px solid var(--network-color-secondary);
  }

  &.sm {
    @include btn-small-button;
  }

  &.lg {
    @include btn-large-button;
  }
}

// buttons/ButtonSecondary
.btn-secondary {
  @include btn-layout;
  @include btn-common;
  @include btn-icons;
  @include btn-disabled;

  color: var(--text-color-primary);
  background: var(--button-secondary-background);
  border: 1px solid var(--button-secondary-background);
  border-radius: 1.5rem;

  &.sm {
    @include btn-small-button;

    border-radius: 1.5rem;
  }

  &.lg {
    @include btn-large-button;
  }

  &:hover {
    background: var(--button-hover-background);

    &:disabled {
      background: var(--button-secondary-background);
    }
  }
}

// buttons/ButtonMono
.btn-mono {
  @include btn-layout;
  @include btn-common;
  @include btn-icons;
  @include btn-disabled;

  color: var(--text-color-invert);
  background: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
  border-radius: 1.5rem;

  &.secondary-color {
    border-color: var(--text-color-secondary);
    background: var(--text-color-secondary);
  }

  &.sm {
    @include btn-small-button;
  }

  &.lg {
    @include btn-large-button;
  }
}

// buttons/ButtonMonoRounded
.btn-mono-invert {
  @include btn-layout;
  @include btn-common;
  @include btn-icons;
  @include btn-disabled;

  color: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
  border-radius: 1.5rem;

  &.secondary-color {
    border-color: var(--text-color-secondary);
    background: var(--text-color-secondary);
  }

  &.sm {
    @include btn-small-button;
  }

  &.lg {
    @include btn-large-button;
  }
}

// buttons/ButtonText
.btn-text {
  @include btn-layout;
  @include btn-common;
  @include btn-icons;
  @include btn-disabled;

  color: var(--text-color-primary);
  border-radius: 1.5rem;
  padding: 0.45rem;
  font-size: 1rem;

  &.secondary-color {
    border-color: var(--text-color-secondary);
  }
}

// buttons/ButtonInvert
.btn-invert {
  @include btn-layout;
  @include btn-common;
  @include btn-icons;
  @include btn-padding-submit;
  @include btn-disabled;

  border: 1px solid var(--network-color-stroke);
  color: var(--network-color-stroke);
  font-size: 1rem;
  border-radius: 0.75rem;
}

// buttons/ButtonInvertRounded
.btn-invert-rounded {
  @include btn-layout;
  @include btn-common;
  @include btn-icons;
  @include btn-disabled;

  border: 1px solid var(--network-color-stroke);
  color: var(--network-color-stroke);
  border-radius: 1.5rem;

  &.sm {
    @include btn-small-button;
  }

  &.lg {
    @include btn-large-button;
  }
}

// buttons/ButtonSubmit
.btn-submit {
  @include btn-layout;
  @include btn-common;
  @include btn-icons;
  @include btn-padding-submit;
  @include btn-disabled;

  border: 1px solid var(--network-color-primary);
  background: var(--network-color-primary);
  border-radius: 0.75rem;
  color: white;
  font-size: 1rem;

  &.secondary-color {
    border-color: var(--network-color-secondary);
    background: var(--network-color-secondary);
  }
}

// buttons/Tab
.btn-tab {
  @include btn-layout;
  @include btn-disabled;

  color: var(--text-color-secondary);
  padding: 0.65rem 1rem;
  margin-bottom: 0.5rem;
  margin-right: 0.75rem;
  font-size: 1.15rem;
  transition: opacity var(--transition-duration),
    font-size var(--transition-duration);
  border-radius: 0.5rem;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &.active {
    background: var(--button-secondary-background);
  }
}
