/* Copyright 2023 @paritytech/polkadot-dashboard-ui authors & contributors
SPDX-License-Identifier: Apache-2.0 */

$page-width-small-threshold: 850px;
$page-width-medium-threshold: 1175px;
$row-width-full-threshold: 1050px;
$page-max-width: 1550px;
$side-menu-minimised-width: 75px;
$side-menu-maximised-width: 185px;
