// button layout styles
@mixin layout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  &.grow {
    flex: 1 1 0%;
  }
}
    
// button common styles
@mixin common {
  &.m-left {
    margin-left: 0.625rem;
  }
  &.m-right {
    margin-right: 0.625rem;
  }
  &.m-x {
    margin: 0 0.625rem;
  }
}

// button icon styles
@mixin icons {
  > .icon-left {
    margin-left: 0.125rem;
    margin-right: 0.625rem;
  }
  > .icon-right {
    margin-left: 0.625rem;
    margin-right: 0.125rem;
  }
}

@mixin smallButton {
  padding: 0.34rem 0.92rem;
  font-size: 1rem;
}

@mixin largeButton {
  padding: 0.45rem 0.95rem;
  font-size: 1.15rem;
}

@mixin paddingSubmit {
  padding: 0.45rem 0.8rem;
}

@mixin disabled {
  transition: opacity 0.15s, color 0.15s;

  &:disabled {
    opacity: var(--opacity-disabled);
    cursor: default;
  }
}

// buttons/ButtonPrimary
.btn-primary {
  @include layout;
  @include common;
  @include icons;
  @include disabled;
  background: var(--network-color-primary);
  border: 1px solid var(--network-color-primary);
  color: white;
  border-radius: 1.5rem;

  &.secondary-color {
    background: var(--network-color-secondary);
    border: 1px solid var(--network-color-secondary);
  }
  &.sm {
    @include smallButton;
  }
  &.lg {
    @include largeButton;
  }
}

  // buttons/ButtonSecondary
.btn-secondary {
  @include layout;
  @include common;
  @include icons;
  @include disabled;
  color: var(--text-color-primary);
  background: var(--button-secondary-background);
  border: 1px solid var(--button-secondary-background);
  border-radius: 1.5rem;

  &.sm {
    @include smallButton;
    border-radius: 1.5rem;
  }
  &.lg {
    @include largeButton;
  }
  &:hover {
    background: var(--button-hover-background);
    &:disabled {
      background: var(--button-secondary-background);
    }
  }
}

// buttons/ButtonMono
.btn-mono {
  @include layout;
  @include common;
  @include icons;
  @include disabled;
  color: var(--text-color-invert);
  background: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
  border-radius: 1.5rem;

  &.secondary-color {
    border-color: var(--text-color-secondary);
    background: var(--text-color-secondary);
  }
  &.sm {
    @include smallButton;
  }
  &.lg {
    @include largeButton;
  }
}

// buttons/ButtonMonoRounded
.btn-mono-invert {
  @include layout;
  @include common;
  @include icons;
  @include disabled;
  color: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
  border-radius: 1.5rem;

  &.secondary-color {
    border-color: var(--text-color-secondary);
    background: var(--text-color-secondary);
  }
  &.sm {
    @include smallButton;
  }
  &.lg {
    @include largeButton;
  }
}

// buttons/ButtonText
.btn-text {
  @include layout;
  @include common;
  @include icons;
  @include disabled;
  color: var(--text-color-primary);
  border-radius: 1.5rem;
  padding: 0.45rem;
  font-size: 1rem;

  &.secondary-color {
    border-color: var(--text-color-secondary);
  }
}

// buttons/ButtonInvert
.btn-invert {
  @include layout;
  @include common;
  @include icons;
  @include paddingSubmit;
  @include disabled;
  border: 1px solid var(--network-color-stroke);
  color: var(--network-color-stroke);
  font-size: 1rem;
  border-radius: 0.75rem;
}

// buttons/ButtonInvertRounded
.btn-invert-rounded {
  @include layout;
  @include common;
  @include icons;
  @include disabled;
  border: 1px solid var(--network-color-stroke);
  color: var(--network-color-stroke);
  border-radius: 1.5rem;
  &.sm {
    @include smallButton;
  }
  &.lg {
    @include largeButton;
  }
}

// buttons/ButtonSubmit
.btn-submit {
  @include layout;
  @include common;
  @include icons;
  @include paddingSubmit;
  @include disabled;
  border: 1px solid var(--network-color-primary);
  background: var(--network-color-primary);
  border-radius: 0.75rem;
  color: white;
  font-size: 1rem;

  &.secondary-color {
    border-color: var(--network-color-secondary);
    background: var(--network-color-secondary);
  }
}