/* Copyright 2023 @paritytech/polkadot-dashboard-ui authors & contributors
SPDX-License-Identifier: Apache-2.0 */

@use "variables" as v;

.core-entry {
  background: var(--gradient-background);
  width: 100%;
  background-attachment: fixed;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  flex-grow: 1;

  h1,
  h2,
  h3,
  input {
    color: var(--text-color-primary);
  }

  h4,
  h5,
  p,
  a {
    color: var(--text-color-secondary);
  }

  path.primary,
  ellipse.primary {
    fill: var(--text-color-primary);
  }

  input {
    border: none;
    padding: 0.7rem 0;
    font-size: 1.1rem;
    background: none;
    transition: all var(--transition-duration);

    &::placeholder {
      color: #aaa;
    }
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  .textbox,
  .textbox:focus {
    border-bottom: 1px solid #ddd;
  }

  .searchbox,
  .searchbox:focus {
    border: 1px solid #ddd;
  }

  .label {
    font-size: 0.85rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
  }

  .page-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @media (min-width: (v.$page-width-small-threshold + 1px)) {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    @media (min-width: (v.$page-width-medium-threshold + 1px)) {
      padding: 0 5rem 0 2.5rem;
    }

    @media (min-width: 1500px) {
      padding: 0 5rem 0 2.5rem;
    }
  }
}

.core-body {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.core-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.core-page {
  max-width: v.$page-max-width;
  display: flex;
  flex-direction: column;
  padding-bottom: 4.5rem;
  width: 100%;
  margin: 0 auto;
}

.core-side {
  z-index: 7;
  position: sticky;
  top: 0;
  height: 100vh;
  flex: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.1, 1, 0.2, 1);

  /* maximised by default, or minimised otherwise. */
  min-width: v.$side-menu-maximised-width;
  max-width: v.$side-menu-maximised-width;

  &.minimised {
    min-width: v.$side-menu-minimised-width;
    max-width: v.$side-menu-minimised-width;
  }

  @media (max-width: v.$page-width-medium-threshold) {
    position: fixed;
    top: 0;
    left: 0;

    &.hidden {
      left: (-(v.$side-menu-maximised-width));
    }
  }
}

.core-page-title {
  background: var(--background-default);
  position: sticky;
  top: 0px;
  padding-top: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 0.25rem;
  padding-bottom: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  transition: padding 0.3s ease-out;

  @media (max-width: v.$page-width-medium-threshold) {
    top: 4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }

  .title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 0;

    > div {
      &:last-child {
        padding-left: 1rem;
        flex-grow: 1;
      }
    }

    button {
      color: var(--text-color-secondary);
      border: 1px solid var(--border-primary-color);
      padding: 0.5rem 0.75rem;
      margin: 0;
      border-radius: 0.75rem;
      font-size: 1.1rem;

      &:hover {
        background: var(--button-secondary-background);
      }

      .icon {
        margin-left: 0.75rem;
      }
    }
  }

  h1 {
    font-size: 1.75rem;
    font-family: Unbounded, sans-serif;
    position: relative;
    transform: scale(1);
    left: 0;

    @media (max-width: v.$page-width-medium-threshold) {
      left: -1rem;
      transform: scale(0.75);
    }

    transition: all var(--transition-duration);
    margin: 0;
  }

  .tabs {
    border-bottom: 1px solid;
    border-bottom-color: var(--border-primary-color);
    overflow: hidden;
    max-width: v.$page-max-width;
    height: 3.6rem;
    margin-top: 0.9rem;

    @media (max-width: v.$page-width-medium-threshold) {
      margin-top: 0.5rem;
    }

    > .scroll {
      width: 100%;
      height: 4.5rem;
      overflow-x: auto;
      overflow-y: hidden;
    }

    .inner {
      display: flex;

      > button {
        color: var(--text-color-secondary);
        padding: 0.65rem 1rem;
        margin-bottom: 0.5rem;
        margin-right: 0.75rem;
        font-size: 1.15rem;
        transition: opacity var(--transition-duration),
          font-size var(--transition-duration);
        border-radius: 0.5rem;

        &.active {
          background: var(--button-secondary-background);
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &.sticky {
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;

    .title {
      margin-bottom: 0.75rem;

      h1 {
        transform: scale(0);
        left: -1.25rem;
      }

      .tabs {
        border-bottom: 0;
        margin-top: 0.5rem;
      }
    }
  }
}