/* Copyright 2023 @paritytech/polkadot-dashboard-ui authors & contributors
SPDX-License-Identifier: Apache-2.0 */

@use "variables" as v;

.core-entry {
  background: var(--gradient-background);
  width: 100%;
  background-attachment: fixed;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  flex-grow: 1;

  h1,
  h2,
  h3,
  input {
    color: var(--text-color-primary);
  }

  h4,
  h5,
  p,
  a {
    color: var(--text-color-secondary);
  }

  path.primary,
  ellipse.primary {
    fill: var(--text-color-primary);
  }

  input {
    border: none;
    padding: 0.7rem 0;
    font-size: 1.1rem;
    background: none;
    transition: all var(--transition-duration);

    &::placeholder {
      color: #aaa;
    }
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  .textbox,
  .textbox:focus {
    border-bottom: 1px solid #ddd;
  }

  .searchbox,
  .searchbox:focus {
    border: 1px solid #ddd;
  }

  .label {
    font-size: 0.85rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
  }

  .page-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @media (min-width: (v.$page-width-small-threshold + 1px)) {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    @media (min-width: (v.$page-width-medium-threshold + 1px)) {
      padding: 0 5rem 0 2.5rem;
    }

    @media (min-width: 1500px) {
      padding: 0 5rem 0 2.5rem;
    }
  }
}

.body-interface {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.main-interface {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.side-interface {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  position:sticky;
  top: 0px;
  z-index:7;
  flex:0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.1, 1, 0.2, 1);
  &.min {
    min-width: var(--side-menu-minimised-width);
    max-width: var(--side-menu-minimised-width);
  }
  &.max {
    min-width: var(--side-menu-maximised-width);
    max-width: var(--side-menu-maximised-width);
  }
  @media (max-width: v.$page-width-medium-threshold){
    position: fixed;
    top:0;
    &.zero {
      left: 0;
    }
    &.minus {
      left: - var(--side-menu-maximised-width);
    }
  }
}