@layer base {
  /* TODO: automatically generate these styles
  /*.theme-[network.key] */
  .theme-polkadot {
    /* --color-[key]-[theme] */
    --color-primary-light: theme('colors.network.polkadot-primary');
    --color-primary-dark: theme('colors.network.polkadot-primary');
    --color-secondary-light: theme('colors.network.polkadot-secondary-light');
    --color-secondary-dark: theme('colors.network.polkadot-secondary-dark');
    --color-transparent-light: theme('colors.network.polkadot-transparent');
    --color-transparent-dark: theme('colors.network.polkadot-transparent');
    --color-stroke-light: theme('colors.network.polkadot-primary');
    --color-stroke-dark: theme('colors.network.polkadot-primary');
  }
  .theme-kusama {
    --color-primary-light: theme('colors.network.kusama-primary-light');
    --color-primary-dark: theme('colors.network.kusama-primary-dark');
    --color-secondary-light: theme('colors.network.kusama-secondary-light');
    --color-secondary-dark: theme('colors.network.kusama-secondary-dark');
    --color-transparent-light: theme('colors.network.kusama-transparent-light');
    --color-transparent-dark: theme('colors.network.kusama-transparent-dark');
    --color-stroke-light: theme('colors.network.kusama-stroke-light');
    --color-stroke-dark: theme('colors.network.kusama-stroke-dark');
  }
  .theme-westend {
    --color-primary-light: theme('colors.network.westend-primary');
    --color-primary-dark: theme('colors.network.westend-primary');
    --color-secondary-light: theme('colors.network.westend-secondary-light');
    --color-secondary-dark: theme('colors.network.westend-secondary-dark');
    --color-transparent-light: theme('colors.network.westend-transparent');
    --color-transparent-dark: theme('colors.network.westend-transparent');
    --color-stroke-light: theme('colors.network.westend-primary');
    --color-stroke-dark: theme('colors.network.westend-primary');
  }
  .theme-light {
    --color-network-primary: var(--color-primary-light);
    --color-network-secondary: var(--color-secondary-light);
    --color-network-transparent: var(--color-transparent-light);
    --color-network-stroke: var(--color-stroke-light);
    --color-text-primary: theme('colors.text.primary-light');
    --color-button-secondary: theme('colors.button.secondary.active-light');
    --color-button-secondary-hover: theme('colors.button.secondary.hover-light');
  }
  .theme-dark {
    --color-network-primary: var(--color-primary-dark);
    --color-network-secondary: var(--color-secondary-dark);
    --color-network-transparent: var(--color-transparent-dark);
    --color-network-stroke: var(--color-stroke-dark);
    --color-text-primary: theme('colors.text.primary-dark');
    --color-button-secondary: theme('colors.button.secondary.active-dark');
    --color-button-secondary-hover: theme('colors.button.secondary.hover-dark');
  }
  :root {
    [type='text']:focus, 
    [type='email']:focus, 
    [type='url']:focus, 
    [type='password']:focus, 
    [type='number']:focus, 
    [type='date']:focus, 
    [type='datetime-local']:focus, 
    [type='month']:focus, 
    [type='search']:focus, 
    [type='tel']:focus, 
    [type='time']:focus, 
    [type='week']:focus, 
    [multiple]:focus, 
    textarea:focus, 
    select:focus, 
    input:focus,
    input {
      @apply ring-0 ring-offset-0 border-transparent;
    }
  }
}