@tailwind base;
@tailwind components;
@tailwind utilities;

/* Currently not in use */
@layer base {
  :root {
    --maximised-side-interface-width: 175;
    --minimised-side-interface-width: 75;
    --closed-side-interface-left: -200;
  }
}

@layer components {
  .btn-primary {
    @apply font-bold py-2 px-4 rounded;

    &.sm {
      @apply font-bold py-4 px-6 rounded;
    }

    &.lg {
      @apply font-bold py-4 px-6 rounded;
    }
  }
}