@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('./fonts/Inter.ttf');
}

@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  src: url('./fonts/Unbounded.ttf');
}

:root {
  --card-shadow: 0px 2px 16px;
  --opacity-disabled: 0.3;
  --transparent-color: rgba(0, 0, 0, 0);

  .theme-polkadot {
    --network-color-primary-light: rgb(211, 48, 121);
    --network-color-primary-dark: rgb(211, 48, 121);
    --network-color-secondary-light: #552bbf;
    --network-color-secondary-dark: #6d39ee;
    --network-color-stroke-light: rgb(211, 48, 121);
    --network-color-stroke-dark: rgb(211, 48, 121);
    --network-color-transparent-light: rgba(211, 48, 121, 0.05);
    --network-color-transparent-dark: rgba(211, 48, 121, 0.05);
    --network-color-pending-light: rgba(211, 48, 121, 0.33);
    --network-color-pending-dark: rgba(211, 48, 121, 0.33);
  }
  
  .theme-kusama {
    --network-color-primary-light: rgb(31, 41, 55);
    --network-color-primary-dark: rgb(126, 131, 141);
    --network-color-secondary-light: rgb(31, 41, 55);
    --network-color-secondary-dark: rgb(141, 144, 150);
    --network-color-stroke-light: #4c4b63;
    --network-color-stroke-dark: #d1d1db;
    --network-color-transparent-light: rgba(51, 51, 51, 0.05);
    --network-color-transparent-dark: rgba(102, 102, 102, 0.05);
    --network-color-pending-light: rgba(51,51,51,0.33);
    --network-color-pending-dark: rgba(102,102,102, 0.33);
  }
  
  .theme-westend {
    --network-color-primary-light: #da4e71;
    --network-color-primary-dark: #da4e71;
    --network-color-secondary-light: #de6a50;
    --network-color-secondary-dark: #d7674e;
    --network-color-stroke-light: #da4e71;
    --network-color-stroke-dark: #da4e71;
    --network-color-transparent-light: rgba(218, 78, 113, 0.05);
    --network-color-transparent-dark: rgba(218, 78, 113, 0.05);
    --network-color-pending-light: rgba(218, 78, 113, 0.33);
    --network-color-pending-dark: rgba(218, 78, 113, 0.33);
  }  

  .theme-light {
    --background-default: #f5f4f4;
    --background-primary: #f8f7f7;
    --background-invert: #333;
    --background-list-item: rgba(237,237,237,0.6);
    --background-modal-item: rgba(244,244,244,0.6);
    --background-floating-card: rgba(255,255,255,0.90);
    --background-app-footer: rgba(244,225,225,0.75);
    --background-warning: #fdf9eb;
    --background-modal: #f9f7f7;
    --background-modal-footer:#efefef;
    --background-menu: #eaeaea;
    --background-input: #fdfdfd;
    --border-primary-color: #e6e6e6;
    --border-secondary-color: #ccc;
    --button-primary-background: #efeeee;
    --button-secondary-background: #eeecec;
    --button-tertiary-background: #ececec;
    --button-hover-background: #e8e6e6;
    --card-shadow-color: rgba(158, 158, 158, 0.18);
    --card-shadow-color-secondary: #eaeaea;
    --network-color-primary: var(--network-color-primary-light);
    --network-color-secondary: var(--network-color-secondary-light);
    --network-color-stroke: var(--network-color-stroke-light);
    --network-color-transparent: var(--network-color-transparent-light);
    --network-color-pending: var(--network-color-pending-light);
    --overlay-modal-color: rgba(230,228,228,0.6);
    --shimmer-foreground: #e0e0e0;
    --shimmer-background: #ccc;
    --status-success-color: green;
    --status-success-color-transparent: rgba(0,128,0,0.25);
    --status-warning-color: #a78a3a;
    --status-warning-color-transparent: rgba(236,211,125,0.5);
    --status-danger-color: #ae2324;
    --status-danger-color-transparent: rgba(255,0,0,0.25);
    --text-color-primary: #333;
    --text-color-secondary: #444;
    --text-color-invert: #fafafa;
    --gradient-background: 
      linear-gradient(180deg, 
      #f5f4f4 0%, 
      #f5f4f4 100px, 
      #e6e6e6 80%, 
      #fdefea 100%);
    --gradient-side-menu: 
      linear-gradient(180deg, 
      rgba(244,242,242,0.93) 0%, 
      rgba(228,225,225,0.93) 100%);
    --gradient-highlight-primary:
      linear-gradient(90deg, 
      rgba(0,0,0,0.06) 0%, 
      rgba(0,0,0,0.03) 100%);
    --gradient-highlight-secondary:
      linear-gradient(90deg, 
      rgba(0,0,0,0.04) 0%, 
      rgba(0,0,0,0.01) 100%);
  }

  .theme-dark {
    --background-default: rgb(48,44,48);
    --background-primary: rgb(36,32,36);
    --background-invert: #ddd;
    --background-list-item: rgba(48,43,48,0.6);
    --background-modal-item: rgba(34,28,34,0.4);
    --background-floating-card: rgba(37,32,37,0.94);
    --background-app-footer: #262327;
    --background-warning: #33332a;
    --background-modal: rgb(48,43,48);
    --background-modal-footer: rgb(43,38,43);
    --background-menu: rgb(57,52,58);
    --background-input: rgb(72,70,72);
    --border-primary-color: rgb(58,50,58);
    --border-secondary-color: rgb(95,90,95);
    --button-primary-background: rgb(58,52,58);
    --button-secondary-background: rgb(55,50,55);
    --button-tertiary-background: rgb(39,37,39);
    --button-hover-background: rgb(66,61,68);
    --card-shadow-color: rgba(28,24,28,0.25);
    --card-shadow-color-secondary:rgba(28,24,28,0.25);  
    --network-color-primary: var(--network-color-primary-dark);
    --network-color-secondary: var(--network-color-secondary-dark);
    --network-color-stroke: var(--network-color-stroke-dark);
    --network-color-transparent: var(--network-color-transparent-dark);
    --network-color-pending: var(--network-color-pending-dark);
    --overlay-modal-color: rgba(24,20,24,.6);
    --shimmer-background: rgb(47,42,48);
    --shimmer-foreground: rgb(32,29,33);
    --status-success-color: green;
    --status-success-color-transparent: rgba(0,128,0,0.25);
    --status-warning-color: rgba(219, 161, 0,1);
    --status-warning-color-transparent: rgba(255,165,0,0.5);
    --status-danger-color: #d14445;
    --status-danger-color-transparent: rgba(255,0,0,0.25);
    --text-color-primary: #b8b3b9;
    --text-color-secondary: #948e95;
    --text-color-invert: #0f0e0f;
    --gradient-background: linear-gradient(180deg, 
    rgb(48,44,48) 0%,
    rgb(48,44,48) 100px, 
    rgb(44,38,44) 100%);
    --gradient-side-menu: 
      linear-gradient(180deg, 
        rgb(48,41,48) 0%, 
        rgb(30,27,30) 100%);
    --gradient-highlight-primary:
      linear-gradient(90deg,
      rgba(255,255,255,0.06) 0%,
      rgba(255,255,255,0.04) 100%);
    --gradient-highlight-secondary: 
      linear-gradient(90deg, 
      rgba(255,255,255,0.03) 0%, 
      rgba(255,255,255,0.01) 100%);
  }
}
