name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-license-lines:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Check License Lines
        uses: kt3k/license_checker@v1.0.6
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 19.x, 20.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn
      - run: yarn build
      - run: yarn lint

  all:
    # This job ensures that all jobs above (now we have just build) are successful.
    needs: [check-license-lines, build]
    runs-on: ubuntu-latest
    steps:
      - run: echo Success
